{% extends "header.html" %}

{% block title %} Connexion {% endblock %}

{% block content %}
<div class="container-sm text-center p-5 mb-4 bg-light rounded-3">
    <h1>Connexion</h1>
  <form method=POST action="/connexion">
    <div class="mb-3">
      <label for="pseudo" class="form-label">Pseudo</label>
      <input type="text" class="form-control" name="pseudo" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-success">Connexion</button>
  </form>
</div>

  {% endblock %}