{% extends "header.html" %}

{% block title %} Consulter {% endblock %}

{% block content %}
<div class="container-sm text-center p-5 mb-4 bg-light rounded-3">
    <h1>Liste des ragots</h1>
    <table class="table table-striped">
      <thead>
          <tr>
          <th scope="col">Pseudo</th>
          <th scope="col">Ragot</th>
          <th scope="col">Nombre de like</th>
          <th scope="col">Like</th>
          </tr>
      </thead>
      <tbody id="listPotin">
        {% for ragot in data %}
          {% if ragot[4] == True %}
              <tr>
              <td>{{'Anonyme'}}</td>
              <td>{{ragot[1]}}</td>
              <td>{{ragot[2]}}</td> 
              {% else %}
              <td>{{ragot[3]}}</td>
              <td>{{ragot[1]}}</td>
              <td>{{ragot[2]}}</td> 
              {% endif %}
              <form  method="POST" action="/like?id={{ragot[0]}}">
              <td><button type="submit" name="like" class="btn btn-outline-danger">Liker</button></td>
              </form>
              </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}
