{% extends "header.html" %}

{% block title %} Inscription {% endblock %}

{% block content %}
<div class="container-sm text-center p-5 mb-4 bg-light rounded-3">
    <h1>Création de compte utilisateur</h1>
<form>
    <div class="mb-3">
      <label for="email" class="form-label">Adresse mail</label>
      <input type="email" class="form-control" id="mail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label  class="form-label">Pseudo</label>
        <input type="text" class="form-control" id="pseudo">
      </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="password"
      require>
    </div>
    <button type="submit" class="btn btn-primary">Inscription</button>
  </form>
</div>

  {% endblock %}