{% extends "header.html" %}

{% block title %} Poster un ragot {% endblock %}

{% block content %}

<div class="container-sm text-center p-5 mb-4 bg-light rounded-3">
  <h1>Postez ici votre ragot / anecdote !</h1>
  <form method="POST" action="/post">
    <div class="mb-3">
      <label class="form-label">Taper votre ragot ...</label>
      <input type="text" class="form-control" name="ragot" required>
    </div>
    <button type="submit" class="btn btn-success">Poster</button>
  </form>
</div>
  {% endblock %}